---
layout: default
title: Events
---
<div class="container">
  <h1 class="mt-4">{{ page.title }}</h1>
  <p class="lead"> Connecting our global community </p>

     <div class="alert alert-info" role="alert">See our <a href="https://calendar.google.com/calendar/embed?src=dt1h41u4dv7vsel7iobrdpms58%40group.calendar.google.com&ctz=America%2FChicago">Calendar</a>, add it to yours with an <a href="https://calendar.google.com/calendar/ical/dt1h41u4dv7vsel7iobrdpms58%40group.calendar.google.com/public/basic.ics"><em>.ics file</em></a>, or  to your <a href="https://calendar.google.com/calendar/u/0?cid=ZHQxaDQxdTRkdjd2c2VsN2lvYnJkcG1zNThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">Google Calendar</a> (if logged in). </div>

     <div class="alert alert-info" role="alert">Questions? <a href="about#contact">Contact</a> us. Use <a href="about#sfg-announce">SFG Announce</a> to recieve email reminders of our schedule. </div>

  <div class="container" id="community-consults">
    <h2 class="mt-6">Community Consults</h2>
    <p class="lead"> Each Wednesday ask and collectively help to solve TaxonWorks (and related!) questions </p>

    <p> These <a href"https://en.wikipedia.org/wiki/Unconference"><em>unconference</em></a>-style sessions are on Wednesdays at the same time, every week. All are welcome, regardless of whether you consider yourself a collaborator.
        The <i>flexible agendas</i> are set by those attending the meetings. We use a shared Google document to record our minutes and plan our session. Adding your issues prior to the meeting <em>helps everyone to pre-plan strategies</em> for tackling those issues. </p>

    <div class="alert alert-primary thin" role="alert">
        <a href="https://docs.google.com/document/d/13gNX7KytxnIGfz4OBGOUmK332J96s0mDbA7MH4rn5hk/edit?usp=sharing">Community Consult Notes 2026</a>
    </div>

    <div class="alert alert-primary thin" role="alert">
       Community Consults take place at this <a href="https://illinois.zoom.us/my/sfgcommons?pwd=eVI4UkdIUzdIYXRIcUhreVdES2ZQQT09">Zoom</a>.
    </div>

    {% include event_table.html %}

    <p> 
      Note that every other week we have 2 sessions. If a month has a fifth Wednesday then we take that day off.
    </p> 

    <p> The structure of our Community Consults have evolved. Past minutes are here: 
    <a href="https://docs.google.com/document/d/1nNT_ToOOZ12zhkv6oskoNQ98Q6LBtA3ULopfNc7qm6E/edit?usp=sharing">2025 Community Consults</a>
    <a href="https://docs.google.com/document/d/1uKnFdxP-fpA4tGdPWdhf8wJr9co3C6jpM_svzZYYsos/edit?usp=sharing">2024 Open Notes</a>,
    <a href="https://docs.google.com/document/d/1Wq3-2x6Y3hLy9DoxLoc86vj68FI_nlb8mVTKr_KgbvY/edit?usp=sharing">2023 Open Notes</a>,
    <a href="https://docs.google.com/document/d/1rvJ4ChR6VOFZlQPzPppZ3Y2MpwR6RqfvF00-HwyaU8U/edit?usp=sharing">2023 Nomenclature Notes</a>,
    <a href="https://docs.google.com/document/d/1n8VcRvaY8ViT8MCWfvciiGjo7BEYR6wpTk-NoctDMqM/edit?usp=sharing">2023 Digitization Notes</a>,
    <a href="https://docs.google.com/document/d/1FodgK0UQ9ADmC0Ac2YqpbWeOG2o-K8Ccdy2PmJyJeyI/edit?usp=sharing">2023 Matrices Notes</a>,
    <a href="https://docs.google.com/document/d/1_pS0YlNfl8Q3RFvU8FOadZrD1IcGypBoRCunU3rsPtQ/edit?usp=sharing">2023 Technical Notes</a>.
    </p>
  </div>

  <div class="container">
    <h2 class="mt-6">TaxonWorks Together</h2>
    <p class="lead"> SFG's annual biodiversity informatics conference </p>
    <p> With over 250 registrants a year <a href="https://together.taxonworks.org/">TaxonWorks Together</a> brings our community together to share what excites us about biodiversity informatics. Join us online for our 7th annual event in early May (dates coming soon). </p>
  </div>

  <div class="container">
    <h2 class="mt-6">TaxonWorks Late Nite</h2>
    <p class="lead"> Once in a blue moon </p>
    <p> Once in a while we host a "late-nite" meeting for our overseas collaboration who are in chronologically-challenged time-zones.  These are chat-and-chill style. If you're interested in seeing one happen reach out. </p>
  </div>
 
</div>

{% include event_timer.html %}

