<table class="table">
  <thead>
    <tr>
      <th>Wednesday</th>
      <th>Early (<span id="early-time" data-utc-to-local="16:30, 17:30"></span>)</th>
      <th>Late (<span id="late-time" data-utc-to-local="19:30, 20:30"></span>)</th>
      <th>Next date</th>
      <th>Countdown</th>
    </tr>
  </thead>
  <tbody class="events align-middle">
    <tr>
      <td>1st</td>
      <td>Open</td>
      <td>
        <span data-open>Open</span>
      </td>
      <td>
        <span 
          data-every-week="0"
          data-day="wednesday">
        </span>
      </td>
      <td>
        <span data-countdown></span>
      </td>
    </tr>

    <tr>
      <td>2nd</td>
      <td>Open</td>
      <td></td>
      <td>
        <span 
          data-every-week="1" 
          data-day="wednesday">
        </span>
      </td>
      <td>
        <span data-countdown></span>
      </td>
    </tr>

    <tr>
      <td>3rd</td>
      <td>Open</td>
      <td>
        <span data-open>Open</span>
      </td>
      <td>
        <span 
          data-every-week="2"
          data-day="wednesday">
        </span>
      </td>
      <td>
        <span data-countdown></span>
      </td>
    </tr>

    <tr>
      <td>4th</td>
      <td>Open</td>
      <td></td>
      <td>
        <span
          data-every-week="3"
          data-day="wednesday">
        </span>
      </td>
      <td>
        <span data-countdown></span>
      </td>
    </tr>
    
    <tr>
      <td>5th</td>
      <td><div class="py-2">No Meetings on 5th Wednesdays</div></td>
      <td></td>
    </tr>

  </tbody>
</table>
 
