<ul>
<li><a href="http://aphid.speciesfile.org">Blattodea</a></li>
<li><a href="http://cockroach.speciesfile.org">Cockroach</a></li>
<li><a href="http://coreoidea.speciesfile.org">Coreoidea</a></li>
<li><a href="http://dermaptera.speciesfile.org">Dermaptera</a></li>
<li><a href="http://embioptera.speciesfile.org">Embioptera</a></li>
<li><a href="http://embioptera.speciesfile.org">Grylloblattodea</a></li>
<li><a href="http://hoppers.speciesfile.org">3i Auchenorrhyncha</a></li>
<li><a href="http://isoptera.speciesfile.org">Isoptera</a></li>
<li><a href="http://lygaeoidea.speciesfile.org">Lygaeoidea</a></li>
<li><a href="http://mantodea.speciesfile.org">Mantodea</a></li>
<li><a href="http://mantophasmatodea.speciesfile.org">Mantophasmatodea</a></li>
<li><a href="http://orthoptera.speciesfile.org">Orthoptera</a></li>
<li><a href="http://phasmida.speciesfile.org">Phasmida</a></li>
<li><a href="http://plecoptera.speciesfile.org">Plecoptera</a></li>
<li><a href="http://psocodea.speciesfile.org">Psocodea</a></li>
<li><a href="http://zoraptera.speciesfile.org">Zoraptera</a></li>
</ul>
