<ul>
  <li><a href="https://hoppers.speciesfile.org">3i Auchenorrhyncha</a></li>
  <li><a href="https://cockroach.speciesfile.org">Cockroach</a></li>
  <li><a href="https://coreoidea.speciesfile.org">Coreoidea</a></li>
  <li><a href="https://dermaptera.speciesfile.org">Dermaptera</a></li>
  <li><a href="https://embioptera.speciesfile.org">Embioptera</a></li>
  <li><a href="https://embioptera.speciesfile.org">Grylloblattodea</a></li>
  <li><a href="https://isoptera.speciesfile.org">Isoptera</a></li>
  <li><a href="https://lygaeoidea.speciesfile.org">Lygaeoidea</a></li>
  <li><a href="https://mantodea.speciesfile.org">Mantodea</a></li>
  <li><a href="https://mantophasmatodea.speciesfile.org">Mantophasmatodea</a></li>
  <li><a href="https://orthoptera.speciesfile.org">Orthoptera</a></li>
  <li><a href="https://phasmida.speciesfile.org">Phasmida</a></li>
  <li><a href="https://plecoptera.speciesfile.org">Plecoptera</a></li>
  <li><a href="https://psocodea.speciesfile.org">Psocodea</a></li>
  <li><a href="https://zoraptera.speciesfile.org">Zoraptera</a></li>
  <li><a href="https://coleorrhyncha.speciesfile.org/">Coleorrhyncha</a></li>
</ul>
